{% include header.html %}
    
    <div class="jumbotron">
        <h1>A Cross-Platform, Single-File, ANSI C Command-Line Parsing Library</h1>
        <p>Argtable helps you build <b>consistent</b>, <b>robust</b>, and <b>professional</b> command-line interface programs. Build your CLI programs with the combined knowledge and effort of many developers, all in one amalgamation package.</p>
        <p>
            <a href="https://github.com/argtable/argtable3/archive/v3.0.2.zip" class="btn btn-primary btn-lg" role="button">Download <span class="version">v3.0.2</span></a>
            <a href="/tutorial" class="btn btn-warning btn-lg" role="button">Learn More</a>
        </p>
    </div>

    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-md-offset-1 home-post">
        
          {{ content }}
        
        </div>
    </div>

{% include footer.html %}

