{% include header.html %}
    
    <div class="jumbotron">
        <h1>A Cross-Platform, Single-File, ANSI C Command-Line Parsing Library</h1>
        <p>Argtable helps you build <b>consistent</b>, <b>robust</b>, and <b>professional</b> command-line interface programs. Kick-start your CLI programs with the combined knowledge and effort of many developers, all in one amalgamation package.</p>
        <p>
            <a class="btn btn-primary btn-lg" role="button">Download <span class="version">v 3.0.0</span></a>
            <a class="btn btn-warning btn-lg" role="button">Learn More</a>
        </p>
    </div>

    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-md-offset-1 home-post">
        
          {{ content }}
        
        </div>
    </div>

{% include footer.html %}

